html{
font-size:32pt;
}

body {
	font-size:32pt;
	overflow-x: hidden;
	font-family: Georgia, serif;
	margin:0px;
	width:90vw;
	padding:0em 5vw 0em 5vw;
	background-color:#ffffff;
	color: #000000;
	text-align:center;
	position: static;

}

.button {
	text-decoration:none;
	height:auto;
	margin-bottom:0.5em;
	text-align:center;
	color:#998855;
	font-style:italic;
	font-size:1em;
	padding:0.25em;
	display:block;
	position:static;
	border: 0.1em solid #998855;
	background-color:#ffffff;
	font-size:0.9em;
	letter-spacing:0.15em;
	width:auto;
}

.inputing{
background-color:#737066;
color:#ffcc00;font-style:normal;font-size:1em;font-weight:normal;font-family: Consolas, monaco, "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
border:0vw solid #998855;
padding:0vw;
margin:0vw;
width:90vw;
display:block;
position:static;
}

.button:hover,
.button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
    
p {
max-width:60em;
padding:0pt 1em 0pt 1em;
text-align:justify;
width:auto;
z-index:2;position: relative;
}

a {
	color:#998855;text-decoration:none;font-style:italic;
}

a:hover,
a:focus {
    color: #5511ff;
    text-decoration: underline;
    cursor: pointer;
    }

.container{
width:auto;
border:0em;
font-size:inherit;
text-align:center;
}
.sc {
    font-variant: small-caps;
    -ms-font-feature-settings: "smcp";
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
    			-moz-font-feature-settings: 'onum';
			-ms-font-feature-settings: 'onum';
			-webkit-font-feature-settings: 'onum';
			font-feature-settings: 'onum';
}


div {
text-align:left;
}



#id{
background-color:#737066;
color:#ffcc00;font-style:normal;font-size:1em;font-weight:normal;font-family: Consolas, monaco, "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
border:0vw solid #998855;
padding:0vw;
margin:0vw;
width:90vw;
display:block;
position:static;
}


#logopic{
width:20vw;
text-align:left;
}


.code {
background-color:#737066;
color:#ffcc00;font-style:normal;font-size:1em;font-weight:normal;font-family: Consolas, monaco, "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
height:40vh;
width:98%;
overflow: auto;
resize: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    left: 6.7vw;
    right:6.7vw;
    top: 6.7hv;
    bottom:6.7hv;
	z-index: 6;
	position:fixed;
	overflow:none;
    background-color: #ffffff;
    margin: 10vw 10vw 10vw 10vw ; /* 15% from the top and centered */
    margin: 2em auto; 
    padding: 1vw 1vw 1vw 1vw;
    width: 80vw; /* Could be more or less, depending on screen size */
    height:80vh;
}

.modal-contcont {
	border:0px solid rgba(0,0,0,0.4);
	position:static;
	overflow:auto;
	z-index: 7;
	width:98%;
	height:80%;
	margin:3em 1% 1% 1%;
}

/* The Close Button */
.close {
	border-bottom:0.1em solid #888888;
	padding-bottom:0.25em;
	right:2vw;
	left:2vw;
    width:auto;
	background-color: #ffffff;
    text-align:left;
    font-weight: normal;
    font-family: Georgia, serif;
	color:#888888;
    text-decoration: none;
    
  position: absolute;
  height: 1em;
  vertical-align:middle;
   
}


#foo {
font-size:32pt;	
}

#myForm {
display:block;position:static;
width:100%;margin:0em;padding:0em;
}

#press{
width:100%;margin:0em;padding:0em;
width:90vw;
}


@media only all and (min-device-width: 736px) and (max-device-width: 980px) { 
    body {font-size:38pt;}
}

@media only all and (min-width: 981px) {

body {
width:100vw;
font-size:1.5vw;
padding:0vw 20vw 0vw 20vw;
}

p, .button, .container{
font-size:1.5vw;
margin:0vw 0vw 0vw 0vw ;
text-align:justify;
width:60vw;
position:relative;
display:block;
padding:0pt 1em 0pt 1em;
z-index:2;position: relative;

}

#myForm{
display:block;position:static;
width:62vw;
margin-left:1.25vw;
}

.inputing{
padding:0vw;
margin:0vw;
width:63.25vw;
}

#id{
padding:0vw;
margin:0vw;
width:62vw;
margin-left:1.25vw;
}


#press{
display:block;position:static;
width:62vw;
margin-left:1.25vw;
}

#thelist{
width:61.5vw;
}

} 		
