<!DOCTYPE html>
<html lang="en" style="font-family:Signika Negative">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../../../styles.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700&amp;lang=en" />	
</head> 
<body style="font-family:Signika Negative">
<p style="container">
  <div style="font-size:0.75em;">The blog of the <a href="http://rickardhultgren.github.io/lympha/index"><span class="sc">lympha</span> project</a></div>
  <p>
      <div id='content'>

<a href="{{ page.url }}">{{ page.title }}</a><br>
    {{ page.date | date: "%-d %B %Y" }}<br>
        {{ content }}

      </div>
{% include footer.html %}
  </body>
</html>
